numpy==1.20.3
torch==1.8.1
torchvision==0.9.1
faiss-gpu==1.6.5
pillow==8.2.0
pandas==1.2.4
tqdm==4.61.0
tensorboard==2.5.0
matplotlib==3.4.2
pytorch-metric-learning==0.9.99
timm==0.4.12
hydra-core==1.0.6
hydra_colorlog==1.0.1
